Repository fdo-rs/fido-device-onboard-rs, pull requests merged in 2021-09, with the labels that each got.

#46 Make message ordering and encryption stronger
  data-formats/Cargo.toml
  data-formats/src/constants.rs
  data-formats/src/enhanced_types.rs
  data-formats/src/errors.rs
  data-formats/src/messages/di.rs
  data-formats/src/messages/error.rs
  data-formats/src/messages/mod.rs
  data-formats/src/messages/to0.rs
  data-formats/src/messages/to1.rs
  data-formats/src/messages/to2.rs
  data-formats/src/publickey.rs
  data-formats/src/types.rs
  http-wrapper/src/client.rs
  http-wrapper/src/lib.rs
  http-wrapper/src/server.rs
  owner-onboarding-service/src/main.rs
  rendezvous-server/src/main.rs
Labels: enhancement, security

#48 Fix PublicKey data structure
  .devcontainer/Dockerfile
  client-linuxapp/src/main.rs
  data-formats/src/enhanced_types.rs
  data-formats/src/errors.rs
  data-formats/src/ownershipvoucher.rs
  data-formats/src/publickey.rs
  integration/prepare.sh
  owner-onboarding-service/src/main.rs
  owner-tool/src/main.rs
  rendezvous-server/src/handlers_to0.rs
  rendezvous-server/src/handlers_to1.rs
Labels: spec-nonconformity

#45 Owner Tool: Run TO0 to every RV server listed in the RV info
  data-formats/src/types.rs
  integration/test.sh
  integration/testdata/rendezvous-info.yml
  owner-tool/Cargo.toml
  owner-tool/src/main.rs
Labels: enhancement
